<mat-toolbar>
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Star Wars UI</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container" hasBackdrop="false">
  <mat-drawer #drawer mode="push" opened="true">
    <mat-nav-list>
      <mat-list-item routerLink="/home" routerLinkActive="active">
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemLine>Home</span>
      </mat-list-item>
      <mat-list-item routerLink="/planets" routerLinkActive="active">
        <mat-icon matListItemIcon>public</mat-icon>
        <span matListItemLine>Planets</span>
      </mat-list-item>
      <mat-list-item routerLink="/peoples" routerLinkActive="active">
        <mat-icon matListItemIcon>group</mat-icon>
        <span matListItemLine>Peoples</span>
      </mat-list-item>
      <mat-list-item routerLink="/films" routerLinkActive="active">
        <mat-icon matListItemIcon>movie</mat-icon>
        <span matListItemLine>Films</span>
      </mat-list-item>
  </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="drawer-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>