<div class="flex-container">
  <h6>Films</h6>
  <button mat-fab (click)="goToCreateFilm()" class="create-button">
    <mat-icon>add</mat-icon>
  </button>
</div>

<table mat-table [dataSource]="films" class="mat-elevation-z8">

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <!-- Episode Column -->
    <ng-container matColumnDef="episode">
      <th mat-header-cell *matHeaderCellDef> Episode </th>
      <td mat-cell *matCellDef="let element"> {{element.episode}} </td>
    </ng-container>
  
    <!-- Director Column -->
    <ng-container matColumnDef="director">
      <th mat-header-cell *matHeaderCellDef> Director </th>
      <td mat-cell *matCellDef="let element"> {{element.director}} </td>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef> Created </th>
      <td mat-cell *matCellDef="let element"> {{element.created}} </td>
    </ng-container>

    <!-- Created Edited -->
    <ng-container matColumnDef="edited">
      <th mat-header-cell *matHeaderCellDef> Edited </th>
      <td mat-cell *matCellDef="let element"> {{element.edited}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  