<div class="flex-container">
  <h6>Peoples</h6>
  <button mat-fab (click)="goToCreatePeople()" class="create-button">
    <mat-icon>add</mat-icon>
  </button>
</div>

<table mat-table [dataSource]="peoples" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- BirthYear Column -->
    <ng-container matColumnDef="birthYear">
      <th mat-header-cell *matHeaderCellDef> BirthYear </th>
      <td mat-cell *matCellDef="let element"> {{element.birthYear}} </td>
    </ng-container>
  
    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef> Created </th>
      <td mat-cell *matCellDef="let element"> {{element.created}} </td>
    </ng-container>

    <!-- Created Edited -->
    <ng-container matColumnDef="edited">
      <th mat-header-cell *matHeaderCellDef> Edited </th>
      <td mat-cell *matCellDef="let element"> {{element.edited}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  